body {
    font-family: 'Nanum Myeongjo';
}

html {
    scroll-behavior: smooth;
}

.root {
    --display-inline: inline-block;
    --padding-10: 10px;
    --color-blk: black;
}


/* ##############importent-css################  */

.pad-10 {
    padding: 10px;
}

h1 {
    font-weight: 800;
}

.margin {
    margin: 10px 0px;
}

.font-sizep {
    font-size: 23px;
}

.font-size-pra {
    font-size: 16px;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}

.font-para {
    font-size: 18px;
}


}
.pad-c {
    padding: 10px 30px;
}
.color-white {
    color: white;
    font-weight: 700;
}
.img-set {
    width: 100%;
    display: block;
}
.para-family {
    font-family: 'EB Garamond', serif;
}
.bg-blk {
    background-color: black;
}

/* ##############importent-css################  */
header {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 0px 55px 0px
}
p::first-letter {
    font-size: 40px;
    font-weight: 800;
}
.nav>li {
    display: var(--display-inline);
}
.nav>li>a {
    display: var(--display-inline);
}
.bg {
    background-image: url(..//img/clement-h-95YRwf6CNw8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110%;
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.set {
    position: relative;
    top: 100px;
}
.btn {
    font-size: 28px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    /* background: rgb(0, 0, 0); */
    
    padding: 10px;
    border-radius: 22px;
    /* background: rgb(255, 255, 255); */
    /* color: rgb(0, 0, 0); */
    
    position: relative;
    border: 6px solid rgb(255, 255, 255);
}
.btn-set {
    text-align: center;
    position: relative;
    top: 233px;
}
.bg-img>h1 {
   position: relative;
    top: 148px;
    bottom: 50;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 10;
    font-size: 85px;
    margin: 0px 0px 0px -13px;
}
.social {
    position: relative;
    text-align: center;
    top: 190px;
    padding: 10px;
}
span>a {
    color: white;
    padding: 15px;
}
label {
    display: none;
}
@media (max-width:1024px) {
    .navigation {
        display: none;
    }
    
    .main {
        display: block;
    }
    
    #hide {
        position: absolute;
        right: 39px;
        color: rgb(255, 255, 255);
        top: 35px;
        z-index: 99999;
        display: block;
    }
    
    #menu:checked~header .navigation {
        display: block;
    }
    
    .nav>li>a {
        display: block;
    }
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.main {
    display: none;
}
.hover:hover {
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}
.serv-slide {
    font-size: 11px;
    padding: 10px;
    cursor: pointer;
}
.serv-slide>a {
    color: black;
    text-decoration: none;
}
.serv-slide>h1,
h1 {
    font-size: 23px;
}
.serv-slide:hover {
    box-shadow: 0px 12px 13px 3px #0000003d;
    transition: 0.6s;
}
.projects {
    height: 88%;
    width: 100%;
    overflow: scroll;
}
textarea {
    margin: 0px;
    width: 100%;
    height: 28%;
}

/* width */
.scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
